/* Font Stacks */
$bodyFS: Open Sans, Noto Sans, Roboto, sans-serif;
$headerFS: Montserrat, Roboto, sans-serif;
$monoFS: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

/* Font Sizes */
$size-1: 12px;
$size-2: 14px;
$size-3: 16px;
$size-4: 18px;

$shade0: white;
$shade1: #e3e3e3;

$text1-0: #555;
$accent1: #7A3E8A;
$link1: #37798A;
$error1: #8a3737;
$warning1: #935E22;
