@import "_master.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Open+Sans:400,600');
@font-face {
  font-family: 'customIconFont';
  src:  url('iconFont/IF.eot?j3dzxt');
  src:  url('iconFont/IF.eot?j3dzxt#iefix') format('embedded-opentype'),
    url('iconFont/IF.ttf?j3dzxt') format('truetype'),
    url('iconFont/IF.woff?j3dzxt') format('woff'),
    url('iconFont/IF.svg?j3dzxt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* - Normalize - */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
}

html {
	font-family: $bodyFS;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
	font-family: $headerFS;
	font-weight: 500;
}

body {
	font-size: $size-3;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

table {
	border: none;
	border-collapse: collapse;
}

/* Global Styles */

[class^="cif_"], [class*=" cif_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'customIconFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cif_arrow:before {
	content: "\e900";
}

a {
	text-decoration: none;
	color: $link1;
	font-weight: 600;
	&:hover, &.hovering {
		color: darken($link1, 20%);
	}
}

p, td {
	color: $text1-0;
	margin-bottom: 0.3em;
	&:last-of-type {
		margin-bottom: 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
	a {
		color: $accent1;
		font-weight: 500;
		&:hover, &.hovering {
			color: darken($accent1, 20%);
		}
	}
	color: $accent1;
}

.icon_group {
	width: 48px;
	height: 48px;
	position: relative;
	display: inline-block;
	a {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
	}
	.icon {
		use {
			&[*|href="#path_serverlist"],
			&[*|href="#path_plus"],
			&[*|href="#path_dev"], {
				fill: $accent1;
			}
			&[*|href="#path_cross"] {
				fill: $error1;
			}
		}
		&.hovering {
			display: none;
			use.path_hovering {
				&[*|href="#path_serverlist"],
				&[*|href="#path_plus"],
				&[*|href="#path_dev"], {
					fill: darken($accent1, 20%);
				}
			}
		}
	}
}

table.data_table {
	margin-top: 1em;
	border-bottom: 1px solid darken($shade1, 20%);
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.3);
	th, td {
		padding: 10px;
		vertical-align: top;
	}
	th {
		background-color: lighten(desaturate($accent1, 10%), 10%);
		color: $shade0;
	}
	td {
		border-right: 1px solid darken($shade1, 20%);
	}
	td:last-of-type {
		border-right: none;
	}
	tr:nth-child(odd) {
		background-color: $shade0;
	}
	tr:nth-child(even) {
		background-color: $shade1;
	}
	&.negative tr:nth-child(odd) {
		background-color: darken($shade1, 5%);
	}
	&.negative tr:nth-child(even) {
		background-color: darken($shade0, 5%);
	}
}

ul {
	margin-left: 25px;
	margin-top: 0.5em;
	li {
		color: inherit;
		margin-bottom: 0.3em;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

@mixin button($bgColor) {
	padding: 5px 8px;
	border: 1px solid darken($shade1, 20%);
	font-family: $bodyFS;
	color: $text1-0;
	font-size: 14px;
	background-color: $bgColor;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
	&:hover {
		cursor: pointer;
		background-color: darken($bgColor, 5%);
	}
}
input {
	margin: 1em 0;
	&[type=text], &[type=number] {
		padding: 5px 8px;
		border-radius: 0;
		border: 1px solid darken($shade1, 20%);
		box-shadow: inset 0px 0px 5px rgba(0,0,0,0.2);
		font-family: $bodyFS;
		color: darken($text1-0, 10%);
	}
	&[type=submit] {
		@include button($accent1);
		color: $shade0;
	}
	&[type=file] {
		display: none;
	}
}
label {
	margin: 1em 0;
	&.custom_file_upload {
		@include button($shade0);
		display: inline-block;
	}
}

.button {
	margin: 1em 0;
	display: inline-block;
	@include button($accent1);
	color: $shade0;
	&.negative {
		@include button($shade0);
		color: $accent1;
	}
}

body {
	background-color: $shade0;
}

.breadcrumbs {
	background-color: $shade0;
	padding: 5px 0px 5px 20px;
	border-bottom: 1px solid darken($shade1, 10%);
	font-size: 16px;
	.separator {
		color: darken($shade1, 40%);
		font-size: 14px;
		margin-right: 10px;
	}
	.crumb {
		margin-right: 10px;
		color: darken($shade1, 40%);
		font-family: $headerFS;
		font-weight: 400;
		display: inline-block;
		a {
			color: $accent1;
			font-weight: 500;
		}
	}
}


.main {
	> section {
		padding: 30px 0;
		overflow: auto;
		.inner_wrap {
			max-width: 80%;
			margin: 0 auto;
			background-color: inherit;
		}
		.error_block {
			margin-bottom: 1em;
			padding: 10px 15px;
			background-color: lighten($error1, 40%);
			border-left: 6px solid lighten($error1, 20%);
			.error_line {
				.error_type {
					color: $error1;
					font-weight: 600;
				}
				.error_message {
					color: $error1;
					margin-left: 5px;
				}
			}
		}
		.warning_block {
			margin-bottom: 1em;
			padding: 10px 15px;
			background-color: lighten($warning1, 40%);
			border-left: 6px solid lighten($warning1, 20%);
			.warning_line {
				.warning_type {
					color: $warning1;
					font-weight: 600;
				}
				.warning_message {
					color: $warning1;
					margin-left: 5px;
				}
			}
		}
		&:nth-child(odd) {
			background-color: $shade1;
		}
		&:nth-child(even) {
			background-color: $shade0;
		}
		&.page_branding {
			background-color: lighten(desaturate($accent1, 20%), 10%);
			.page_title {
				color: $shade0;
				display: inline-block;
				padding-bottom: 10px;
				border-bottom: 2px solid $shade0;
				margin-bottom: 15px;
			}
			.page_description {
				color: lighten($shade0, 40%);
				& p {
					color: lighten($shade0, 40%);					
				}
				max-width: 75%;
			}
		}
		&.site_branding {
			background-color: lighten(desaturate($accent1, 20%), 10%);
			padding-left: 20px;
			padding-top: 80px;
			padding-bottom: 80px;
			margin: auto;
			.site_title {
				color: $shade0;
				margin-bottom: 10px;
				text-align: center;
				font-size: 40px;
				// border-bottom: 2px solid $shade0;
			}
			.site_description {
				color: lighten($shade0, 40%);
				margin-top: 10px;
				text-align: center;
				margin-left: auto;
				margin-right: auto;
				padding-top: 10px;
				border-top: 2px solid $shade0;
				max-width: 50%;
				font-size: $size-2;
			}
		}
	}
}