body {
    background-color: #f4ffc1;
    font-family: sans-serif;
    color: #414141;
}

table {
    border-collapse: collapse;
    border: 2px solid #414141;
}

th, td {
    border: 1px solid #414141;
}

th {
    background-color: #a2d09d;
}

td {
    background-color: #c9ffc3;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #5b7458;
}

a:hover {
    color: #759572;
}

ul {
    list-style-type: circle;
}
