@import "../_master.scss";

.main {
	> section {
		&.offline_servers_section {
			.offline_servers_table {
				td:nth-child(1), td:nth-child(3) {
					overflow: auto;
					max-width: 12em;
				}
				td:last-of-type {
					white-space: nowrap;
					overflow: auto;
					form {
						input[type=text] {
							margin-top: 0;
							margin-bottom: 0;
						}
						input[type=submit] {
							margin-top: 0;
							margin-bottom: 0;
							margin-left: 10px;
							height: 40px;
						}
					}
				}
			}
		}
	}
}